@model WebApplication1.Models.Planner
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
﻿
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <h1>Planner</h1>
    <div style="padding:25px">
        <div class="center hideform">
            <button id="close" style="float: right;">X</button>
            <form>
                Todo:<br>
                <input type="text" name="todo">
                <br>
                Date:<br>
                <input type="datetime" name="date" value="@DateTime.Now">
                <br><br>
                <button onclick="AddToDo()">Submit</button>
            </form>
        </div>
        <button id="show">Add ToDo</button>

        <div style="align-content:end; position:absolute">
            <label for="datetime" style="padding-right:5px;background-color:white">Date</label>
            <input type="datetime-local" name="dateChooser" value="defaultDate" onchange="DateChange()" />
        </div>
    </div>


    <div id="PlannerBoard">
    </div>
</body>
</html>

<script>
    $('#show').on('click', function () {
        $('.center').show();
        $(this).hide();
    })

    $('#close').on('click', function () {
        $('.center').hide();
        $('#show').show();
    })

    GetTodos('@DateTime.Now');

    function GetTodos(date){
        $.post('https://localhost:7027/planner/GetTodoForDay',
        {
            Date: date
        },
        function (data, status) {
            console.log(data);
            LoadBoard(data);
        });
    }

    function LoadBoard(data){
        $.post('https://localhost:7027/board',
        {
            Day: '@DateTime.Now',
            Todos: data
        },
        function (data, status) {
            $('#PlannerBoard').html(data);
        });
    }

    function DateChange() {
        console.log('here2');
        const date = document.getElementsByName('dateChooser');
        GetTodos(date[0].value);
    }

    function AddToDo(){
        event.preventDefault();
        const todo = document.getElementsByName('todo');
        const date = document.getElementsByName('date');

        $.post('https://localhost:7027/planner/SaveTodoStickyNote',
        {
            Message: todo[0].value,
            Date: date[0].value
        },
        function (data, status) {
            $('.center').hide();
            $('#show').show();
            GetTodos('@DateTime.Now');
        });
    }
</script>


<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hideform {
        display: none;
    }
</style>